/**
 * Settings Page styles
 * 
 * @since 2013.12.26
 */
.settings_page_so-pinyin-slugs-so-pinyin-slugs .wrap {
	max-width: 48rem;
}
.settings_page_so-pinyin-slugs-so-pinyin-slugs .wrap > h2 {
	background: url("../images/so-icon.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
	padding-left: 40px;
}
.settings_page_so-pinyin-slugs-so-pinyin-slugs hr {
    color: #EFEFEF;
}
.settings_page_so-pinyin-slugs-so-pinyin-slugs .rate-this-plugin {
	color: #26779A;
	font-style: italic;
	font-size: 16px;
	font-weight: bold; 
}
.settings_page_so-pinyin-slugs-so-pinyin-slugs .author.postbox {
	display: block;
	float: left;
	margin: 30px 10px 10px 0;
	max-width: 31.25rem;
}
.settings_page_so-pinyin-slugs-so-pinyin-slugs .author.postbox .hndle {
    background: #26779A;
    border-bottom: 1px solid #DDD;
    color: #F9F9F9;
    padding: 5px;
}
.settings_page_so-pinyin-slugs-so-pinyin-slugs .author.postbox .inside > .author-image {
	border: 1px solid #DFDFDF;
	float: left;
	margin-right: 10px;
	padding: 3px;
}
.settings_page_so-pinyin-slugs-so-pinyin-slugs .author.postbox .inside > p {
	height: 60px;
	padding-top: 20px;
}
.settings_page_so-pinyin-slugs-so-pinyin-slugs .author.postbox .inside > ul {
	clear: both;
	margin-top: 20px;
}
.settings_page_so-pinyin-slugs-so-pinyin-slugs .author.postbox .inside li {
    float: left;
    width: 50%;
}